body{
  margin: 0;
}

.hero {
    color: white;
    background-image: url("./images/samsunghero.webp");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px 50px 300px;
}

.navbar {
  display : flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navleft {
  display: flex;
  align-items: center;
  gap: 18px; 
}

.navright {
  display: flex;
  align-items: center;
  gap: 18px; 
}

.navbar .col {
  display: flex;
  align-items: center;
  gap: 12px;
}

.headers {
  text-align: left;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.herotext{
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 25%;
}

.herotext h1 {
  margin: 0;
  font-size: 50px;
}

.herotext button {
  background-color:transparent;
  color: white;

  border: 2px solid white;
  border-radius: 999px;

  padding: 8px 20px;

  font-size: 10px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-weight: 600;
  line-height:1;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.herotext button:hover {
  background-color: white;
  color: black;
  transition: all 0.3s ease;
}


.leftie{
  display: flex;
  justify-content: right;
  margin: 8px;
  align-items: center;
  gap: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}


.navright input{
  background-color:transparent;
  color: white;

  border: 2px solid white;
  border-radius: 999px;

  padding: 8px 10px;
  font-size: 10px;
  font-weight: 600;
  line-height:1;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.navright input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.phonehero{
  position: relative;

  background-image: url("./images/phone.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: white;
  margin: 20px;
  padding: 100px 50px 500px;
}

.insidebut{
  background-color:transparent;
  color: rgb(0, 0, 0);

  border: 2px solid rgb(0, 0, 0);
  border-radius: 999px;

  padding: 8px 16px;

  font-size: 10px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-weight: 600;
  line-height:1;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.278);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.insidebut:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  transition: all 0.3s ease;
}

.insides{
  display : flex;
  align-items: center;

  top: 370px;     /* move up/down */
  left: 45px;     /* move left/right */

  position: absolute;

  display: flex;
  gap: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.insides a{
  color: black;
  font-size: 12px;
}


inside{
  position: relative;
  color: black;
  text-decoration: none;
  font-size: 10px;
  font-weight: 600;
}

.inside::after {
  top: 24px;     /* move up/down */
  left: 45px;     /* move left/right */
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;

  width: 0;
  height: 2px;
  background-color: black;

  transition: width 0.3s ease;
}

.inside:hover::after {
  width: 47%;
}

/*//////////////////////////////////////////////////////*/

.bar{
  display: flex;
  align-items: top;
  justify-content: center;
  gap: 10px;
  height: 300px;
  margin-bottom: 100px;
}

.cards{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  background-color: whitesmoke;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 0px;

  width: 230px;
  transition: transform 0.3s ease;
}
.txt{
  z-index: 1;
  margin-top: 20px;
}

.cards img {
  z-index: 0;
  width: 180px;
  height: 180px;
  background-color: transparent;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.cards:hover img{
  transform: scale(1.40);
}

.cards .btn{
  z-index: 1;
  background-color: black;
  color: white;

  border: 2px solid black;
  border-radius: 999px;

  padding: 8px 16px;

  transform: translateY(40px);


  font-size: 10px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-weight: 600;
  line-height:1;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.278);
  opacity: 0;
  transition: opacity 0.2s ease, transform 0.35s ease;
}

.cards:hover .btn {
  opacity: 1;
  transform: translateY(0);
}

/*//////////////////////////////////////////////////////*/
/* Layout */
.main {
  margin-bottom: 500px;
}

.carousel-container {
  width: 1070px;          /* viewport width (your choice) */
  margin-left: 20px;
  overflow: hidden;       /* hide extra cards */
}

.carousel {
  margin-bottom: 20px;
}

/* Track (the moving row) */
.cardsa {
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
  transition: transform 300ms ease;
  will-change: transform;
}

/* Card */
.card {
  /* border: 2px solid #000; */
  flex: 0 0 auto;         /* prevents shrinking */
  overflow: hidden;
}

/* Card contents */
.image{
  width: 270px;
  height: 270px;
  overflow: hidden;
    background-color: rgb(246, 246, 246);
  border-radius: 5px;
}
.cardsa img {
  width: 200px;
  height: 200px;

  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s ease, padding 0.3s ease, overflow 0.3s ease;
}
.cardsa img:hover {
  overflow: hidden;
  transform: scale(1.1);
  transition: transform 0.3s ease, padding 0.3s ease, overflow 0.3s ease;
}
.cardsa .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardsa .text {
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Buttons */
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.buttons button {
  width: 30px;
  height: 30px;
  margin: 0 10px;

  border: 0;
  border-radius: 999px;

  background: #000;
  color: aliceblue;
}


/* Bar */
.bard{
  background-color: rgb(218, 218, 218);
  height: 5px;
  width: 500px;
  margin-right: 50px;
  border-radius: 999px;
  overflow: hidden;
}

.mybar{
  background-color: black;
  height: 5px;
  width: 0px;
  transition: width 300ms ease;
}